# Scrape Rikishi Data

In [1]:
import urllib2
import bs4 #this is beautiful soup
import pandas as pd

# custom helper functions
from data_prep import extract_record, extract_age, extract_body_specs

In [2]:
# rikishi = "http://sumodb.sumogames.de/Rikishi.aspx?r=1123" # hakuho
# rikishi = "http://sumodb.sumogames.de/Rikishi.aspx?r=3276&l=e"
rikishi = "http://sumodb.sumogames.de/Rikishi.aspx?shikona=kisenosato"
source = urllib2.urlopen(rikishi).read()
# print source

soup = bs4.BeautifulSoup(source, 'lxml') # turn into soup

## Parse HTML Table with Rikishi Data

In [3]:
# TODO: 
# - add exceptions in case no data turns up
# - account for missing data elements

tables = soup.findAll('table', {'class': 'rikishidata'})

#if tables = []:
#    print "No tables found, continuing ..."
#    continue
    
rows = tables[1].findAll('tr') # there are two tables with the same class, pick #2

# initialize desired cell values
record = u''
ht_wt = u''
birth_date = u''
origin = u''

for row in rows: # iterate through rows
    cells = row.findAll('td')
    if (cells[0].text =='Career Record') & (len(cells)==2):
        record = cells[1].text
    if (cells[0].text == 'Height and Weight') & (len(cells) == 2):
        ht_wt = cells[1].text
    if (cells[0].text == 'Birth Date') & (len(cells) == 2):
        birth_date = cells[1].text
    if (cells[0].text == 'Shusshin') & (len(cells) == 2):
        origin = cells[1].text
    if (cells[0].text == 'Shikona') & (len(cells) == 2):
        name = cells[1].text

print "Name: " + name
print "Record: " + record # wins, losses, withdrawals, appearances, # tourneys participated
print "Ht/Wt: " + ht_wt # height (cm), weight (kg)
print "DOB: " + birth_date
print "Origin: " + origin

Name: Hagiwara Yutaka - Kisenosato Yutaka
Record: 764-460/1223 (89 basho)
Ht/Wt: 188 cm 171 kg
DOB: July 3, 1986 (30 years)
Origin: Ibaraki-ken, Ushiku-shi

## Prepare Data For Storing

In [6]:
wins, losses, withdrawals, appearances, tourneys = extract_record(record)
age = extract_age(birth_date)
height, weight = extract_body_specs(ht_wt)

print "Name: " + name
print '\n'

print "--Details--"
print "Age: %0.2f " % age
print "Height: " + str(height)
print "Weight: " + str(weight)
print '\n'

print "--Career Record--"
print "Wins: " + str(wins)
print "Losses: " + str(losses)
print "Withdrawals: " + str(withdrawals)
print "Appearances: " + str(appearances)
print "Tourneys: " + str(tourneys)
print '\n'

Name: Hagiwara Yutaka - Kisenosato Yutaka


--Details--
Age: 30.57
Height: 188.0
Weight: 171.0


--Career Record--
Wins: 764
Losses: 460
Withdrawals: None
Appearances: 1223
Tourneys: 89

## Store in Pandas Dataframe

In [5]:
cols = ['name', 'age', 'height', 'weight', 'wins', 'loses', 'withdrawals', 'appearances', 'tourneys']

rikishi_df = pd.DataFrame(columns=cols) # initialize dataframe
stats_compiled = [name, age, height, weight, wins, losses, withdrawals, appearances, tourneys]
rikishi_df.loc[len(rikishi_df)] = stats_compiled

rikishi_df.head()

,name,age,height,weight,wins,loses,withdrawals,appearances,tourneys
0,Hagiwara Yutaka - Kisenosato Yutaka,30.568104,188.0,171.0,764.0,460.0,None,1223.0,89.0